.product-card{
    margin: 0 auto;

    &__switch-text{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }

    &__switch-img{
        height: 20px; 
        width: 20px;
    }

    &grid{
        width: 100%;
    }

    &_grid-item{
        width: 100%;
            @media (min-width: 769px) {
                    padding: 20px 20px;
            }

            @media (max-width: 768px){
                padding: 7px 7px;
            }
    }

    &_grid-item-container{
        margin-bottom: 47px;
    }

    &_grid-prodact-info{
        width: 100%;
    }

    &_grid-title{
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        padding-bottom: 10px;
        color: #000000;
    }

    &_grid-prodact-weight{
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 30px;
        color: #FF9846;
    }

    &_grid-prodact-price{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
        margin-right: 30px;
    }

    &_grid-img-minus{
        height: 2px;
        width: 20px;
    }

    &_grid-img-add{
        width: 30px;
        height: 30px;
        margin: 10px;
    }

    &_grid-count{
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
        color: #000000;
        margin: 0 19px;
    }

    &_grid-blok-count{
        margin: 0 19px;
    }

    &_grid-compound-title{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #111111;
        margin-top: 26px;
        margin-bottom: 5px;
    }

    &_grid-compound{
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #111111;
    }

    &_grid-button-want{
        background: #F46D40;
        border-radius: 5px;
        padding: 5px 65px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #F2F2F2;
    }

}  

