.client-data-form {
    padding-top: 20px;
    max-width: 760px;
    padding: 20px;


    &__container {
        padding-top: 30px;
        grid-gap: 20px;
        display: flex;
        padding-bottom: 30px;

        @media (max-width: 600px) {
            flex-direction: column;
        }
    }
    
    &__payment {
        height: 52px;
        padding-bottom: 5px;
    }
}