/* .slick-slide > div{
  display:flex;
  justify-content: space-around;
}
 .slick-slider {
  font-family: 'Nunito Sans','sans-serif'  
} 

@media (min-width: 300px) and (max-width: 900px) {
  .slick-wrapp{
    width:76vw; 
  } 
  .slick-slider{
    width: 95%;
  }
}
@media (min-width: 901px) and (max-width: 1200px) {
  .slick-slider{
    width: 95%;
  }
}
.slider-btn:hover{
  background: transparent;
  box-shadow: none;
} */
