.slick-slide > div{
  display:flex;
  justify-content: space-around;
}
 .slick-slider {
  width:950px; 
  font-family: 'Nunito Sans','sans-serif'  
} 

@media (min-width: 300px) and (max-width: 1200px) {
  .slick-slider{
    width:98%; 
  }; 
  .slick-wrapper{
    width:83.5vw; 
  }; 
}
.slider-btn:hover{
  background: transparent;
  box-shadow: none;
}

