.slick-slide > div{
  display:flex;
  justify-content: space-around;
}
 .slick-slider {
  width:950px;   
} 

@media (min-width: 300px) and (max-width: 1200px) {
  .slick-slider{
    width:83.5vw; 
  }; 
}
