
/* .slick-slide > div{
  display:flex;
  justify-content: center;
  //width: 100%;
}

@media  (max-width: 900px) {
 .sale-slider{
   display: none
 } 
}
.slick-dots li.slick-active button:before {
 color:#FF9846;
} */