.catalog-title {
    position: relative;
    z-index: 1;
    display: inline-flex;
    min-height: 45px;
    align-items: center;
    h1 {
        font-size: 20px;
        font-weight: bold;
    }
    span {
        display: block;
        fill: #bfc3c4;
        transition: fill .15s,transform .1s;
        margin: 5px;
        // img {
        //     text-align: center;
        // }
    }
    .select {
        display: flex;
        flex-direction: flex-end;
    }
}