.header {
	&__links {
		color: #111111;
		text-decoration: none;
		&:hover {
			color: #ff9846;
		}
		&:first-of-type {
			margin-right: 10px;
		}
	}
	&__buttons {
		padding: 0;
		min-width: 0;
		&:hover {
			background: none;
		}
	}
}
